<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>To-Do List</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>

</head>
<body>
<div id="app">
  <div v-if="isloading" class="ortla">
    
<span  uk-spinner="ratio: 3"></span>
<h2>To-Do List</h2>
</div>
  
  <form v-on:submit.prevent="eklendi" v-if="!isloading">
  
    <input
      v-model="yeniyazi"
      id="new-todo"
      class="uk-input uk-form-width-large"
    >
    <button style="width:100%" class="uk-button uk-button-secondary">EKLE</button>
  </form>
  <ul class="uk-list uk-list-striped">
    <li
      is="ekle"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:baslik="todo.baslik"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
